@using Eticaret.Model;
@model Product;
@{
    ViewData["Title"] = "Ürün Düzenle";
}
<div class="row">
    <div class="col-md-4">
<form asp-controller="Product" asp-action="Edit" method="post">
    <div>
        @Html.LabelFor(m=>m.Name,new{@class="form-label"})
        @Html.TextBoxFor(m=>m.Name, new{@class="form-control"})
    </div>
    <div>
        @Html.LabelFor(m=>m.Price,new{@class="form-label"})
        @Html.TextBoxFor(m=>m.Price,new{@class="form-control"})
    </div>
    <div>
        <button class="btn btn-success">Kaydet</button>
    </div>
</form>
    </div>
</div>
@section Styles{
    <style>
        .form-control{
            border: 3px solid black;
            background-color:skyblue;
            
        }

        .form-control:focus{
            background-color:cornflowerblue;
            border: 3px solid blue;
        }
    </style>
}