@{
    ViewData["Title"] = "Home Page";
}

<style>
    
    .alan {
        margin: 10px 30px;
        padding:30px;
        border:9px solid black;
        background-color:aqua;
        box-shadow:20px 10px red;
    }
    .my-class{
        background-color:forestgreen;
        margin-top:100px;
        position:static;
       
    }
</style>
<div class="alan">
        <h3 > TOYOTA </h3 >
        <small class="mavi" > yarış</small >
</div>
<div class="my-class">
    <h1> başaran akademi</h1>

</div>