@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="tr">
<head>
    <title>Kayıt</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Kaydol</div>
                        <div>
                            <div class="card-body">
                                <form>
                                </form>
                            </div>
                            <div class="card-footer">
                                <center>
                                    <button class="btn btn-outline-primary">Kaydol</button>
                                </center>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

